[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
openpyxl = "*"
streamlit-aggrid = "*"
xlsxwriter = "*"
streamlit = "*"
protobuf = "==3.20.1"
digautoprofile = "*"
mypy = "*"
fpdf = "*"

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
