[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
openpyxl = "*"
streamlit-aggrid = "*"
xlsxwriter = "*"
streamlit = "~=1.8"
jupyter = "*"
protobuf = "==3.20.1"
digautoprofile = "*"

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
